$timeline-color: white;
$rspace: 28px;
$eventNameFSize: 1.2rem;

/*
#event-ctn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: 0;
}
*/

#event-ctn {
  display: flex;
  position: relative;
    left: calc(100% - #{$rspace} - 85px);
  margin: 25px #{$rspace} 0px 0px;
  width: fit-content;
  height: 100%;
  flex-direction: row;
}

#timeline__ctn::after, #timeline__ctn::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#timeline__ctn {
  display: inline-block;
  position: relative;
    //right: 0px;
  //margin: 25px #{$rspace} 0px 0px;
  padding: 0 ;
  width: 85px;
  height: calc(100% - 160px);
}

#timeline__ctn::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
    top: 0;
    left: 50%;
  width: 3px;
  height: 100%;
  border-radius: 4px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #{$timeline-color};
}

.timeline__event::before {
  content: '';
  display: inline-block;
  position: absolute;
    left: 50%;
  width: 13px;
  height: 13px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
}

.timeline__event {
  position: relative;
}

.timeline__event:nth-child(2) {
  top: 50%;
}

.timeline__event:last-child {
  top: 99%;
}

.event__content {
  position: absolute;
  -webkit-transform: translate(-90%, -50%);
  -moz-transform: translate(-90%, -50%);
  -o-transform: translate(-90%, -50%);
  transform: translate(-90%, -50%);
  text-decoration: none;
  color: white;
}

.timeline__event:first-child .event__content {
  -webkit-transform: translate(-90%, -17%);
  -moz-transform: translate(-90%, -17%);
  -o-transform: translate(-90%, -17%);
  transform: translate(-90%, -17%);
}

.event__date, .event__name {
  display: block;
  user-select: none;
  font-size: 1rem;
  font-family: 'News Cycle', sans-serif;
  line-height: 1.1;
  font-weight: 600;
}

.event__date {
  text-align: center;
}

#event-bg {
  --n: 2;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100%;
  height: calc(var(--n)*100%);
  transform: translateY(calc(var(--i, 0)/var(--n)*-100%));
  -webkit-transform: translateY(calc(var(--i, 0)/var(--n)*-100%));
  -moz-transform: translateY(calc(var(--i, 0)/var(--n)*-100%));
  -o-transform: translateY(calc(var(--i, 0)/var(--n)*-100%));
  touch-action: none; //for pointer events
  overflow: hidden;
}

/*
.event-poster {
  display: none;
  width: 100%;
  height: 100%;
}
*/

#event-hype {
  background-color: black;
}

#event-pay {
  background-color: maroon;
}

#event-null {
  background-color: brown;
}

.poster-img {
  //min-height: 100%; //for firefox
  //height: 100%;
  height: calc(100%/var(--n));
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#video-ctn {
  display: none;
  position: absolute;
    top: 50%;
    left: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.event-video {
  display: none;
}

.show-video {
  display: block;
}

//video play button fix
.vjs-big-play-button {
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%);
}

.vjs_video_3-dimensions {
  max-width: 100%;
  aspect-ratio: 16/9;
}

#event-overlay {
  display: none;
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
}

.close:hover {
  color: #ff5201;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  color: white;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.timelineEvent-is-selected {
  -webkit-animation: timelineEventAnim .3s $menuItemCurve 0s 1 alternate forwards;
  animation: timelineEventAnim .3s $menuItemCurve 0s 1 alternate forwards;
}

/*
.show-poster {
  display: block;
  -webkit-animation: eventPosterAnim .3s $menuItemCurve 0s 1 alternate forwards;
  animation: eventPosterAnim .3s $menuItemCurve 0s 1 alternate forwards;
}
*/

@keyframes timelineEventAnim {
  100% {
    color: gold;
  }
}

@-webkit-keyframes timelineEventAnim {
  100% {
    color: gold;
  }
}

@keyframes eventPosterAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1079px) {
  $timelineWidth: 70px;

  #timeline__ctn {
    width: $timelineWidth;
  }

  #event-ctn {
    left: calc(100% - #{$rspace} - #{$timelineWidth});
    margin: 25px #{$rspace} 0px 0px;
  }
}

@media (max-width: 734px) {
  $rspace: 22px;
  $timelineWidth: 55px;

  #timeline__ctn {
    width: $timelineWidth;
    margin-right: $rspace;
  }

  #event-ctn {
    left: calc(100% - #{$rspace} - #{$timelineWidth});
    margin: 25px #{$rspace} 0px 0px;
  }
}

@media (max-width: 561px) {
  $rspace: 20px;
  $timelineWidth: 45px;

  #timeline__ctn {
    width: $timelineWidth;
    margin-right: $rspace;
  }

  #event-ctn {
    left: calc(100% - #{$rspace} - #{$timelineWidth});
    margin: 25px #{$rspace} 0px 0px;
  }
}

@media (max-width: 461px) {
  $rspace: 15px;
  $timelineWidth: 45px;

  #timeline__ctn {
    width: $timelineWidth;
    margin-right: $rspace;
  }

  #event-ctn {
    left: calc(100% - #{$rspace} - #{$timelineWidth});
    margin: 25px #{$rspace} 0px 0px;
  }
}
