body {
	background-color: black;
}

#bg-video {
	position: fixed;
}

.tline-ctn {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 60%;
	user-select: none;
	z-index: 0;
}

.tline {
	position: absolute;
		top: 50%;
		left: 50%;
	min-width: fit-content;
	transform: translate(-50%, -50%); //
	z-index: 1; //
}

.tline h2, h3 {
	margin: 0px;
	font-family: 'News Cycle', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.tline {
	h2 {
		font-size: 7.8rem;
		line-height: 145px;
		color: white;
	}

	h3 {
		display: none;
		font-size: 3.8rem;
		line-height: 100px;
		color: #ff5201;
	}
}

.btn-flex-ctn {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.indexbtns {
	position: relative;
		top: 50px;
	width: fit-content;
	height: fit-content;
	border-width: 2px;
	border-color: #4ca82e;
	border-radius: 7px;
	font-family: "News Cycle", sans-serif;
	line-height: 52px;
	font-size: 2rem;
	text-decoration: none;
}

.indexbtns:nth-child(1) {
	color: #4ca82e;
	width: 250px;
}

.indexbtns:nth-child(2) {
	color: #a68b43;
	width: 150px;
}

.indexbtns:nth-of-type(1) span {
	margin-left: 15px;
}

.indexbtns:hover {
	color: #f0b33d;
	border-color: #f0b33d;
}
