$menuItemCurve: cubic-bezier(0.12, 0.83, 0.88, 0.91);

.bg-img {
	width: 100%;
	height: 100%
}

.menu-ctn {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
	z-index: 0;
}

.menu-categories {
	position: absolute;
		top: 50%;
	width: 250px;
	margin: 0px;
	padding-right: 40px;
	transform: translateY(-50%);
	list-style: none;
}

.menu-category {
	font-family: $menuFont;
	font-size: 2rem;
	font-weight: 700;
	line-height: 40px;
	white-space: nowrap;
	color: white;
	opacity: 0.6;
	-webkit-transition: opacity .2s $menuItemCurve;
	-moz-transition: opacity .2s $menuItemCurve;
	-o-transition: opacity .2s $menuItemCurve;
	transition: opacity .2s $menuItemCurve;
	cursor: pointer;		
}

.menu-category:hover {
	opacity: 1;
}

.menu-items {
	display: none;
	position: absolute;
		top: 25%;
		left: 0px;
	margin: 0px;
	padding: 0px 25px 0px 10px;
	font-family: $menuFont;
	font-size: 2rem;
	font-weight: 700;
	line-height: 40px;
	white-space: nowrap;
	color: white;
	list-style: none;
	cursor: pointer;
}

.menu-item {
	text-align: right;
	-webkit-transition: color .2s $menuItemCurve;
	-moz-transition: color .2s $menuItemCurve;
	-o-transition: color .2s $menuItemCurve;
	transition: color .2s $menuItemCurve;
}

.category-is-selected {
	margin-left: -5px;
	font-size: 2.1rem!important;
	opacity: 1!important;
}

.show-items {
	display: block;
	-webkit-animation: menuItemAnimation .3s $menuItemCurve 0s 1 alternate forwards;
	animation: menuItemAnimation .3s $menuItemCurve 0s 1 alternate forwards;
}

.item-is-selected	{
	color: #009ee1;
}

@-webkit-keyframes menuItemAnimation {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		top: 0%;
		transform: translateX(-85%);
	}
}

@keyframes menuItemAnimation {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		top: 0%;
		transform: translateX(-85%);
	}
}
