<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Events | Rambo's Kebabs</title>
		<meta name="description" content="Check out events carried out at Rambo's Kebabs">
		<meta name="author" content="Rambo's Kebabs">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../css/ramboskebabs.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<!--<link rel="stylesheet" href="../css/reset.css">-->
	</head>
	<body>
		{{> header}}
		<div class="bg"></div>
		<div id="event-bg"></div>
		<div id="event-ctn">
			{{> eventTimeline}}
		</div>
		{{>footer}}
	</body>
	<script type="application/javascript" src="../scripts/animations.js"></script>
	<!--<script type="application/javascript" src="../scripts/main.js"></script>-->
</html>
