<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rambo's Kebabs - Too Good To Share</title>
    <meta name="description" content="Rambo's Kebabs is the best Turkish Kebab Shop in Melbourne, located near Monash University, Clayton; Order Now | Get Directions | Call Us.">
    <meta name="author" content="Rambo's Kebabs">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/ramboskebabs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  </head>
  <body>
    {{> header}}
    <div id="bg-video">
      <div class="bg-overlay"></div>
      <video poster="../images/burger-poster.jpg" loop='true' autoplay>
        <source src="../videos/burger.mp4" type="video/mp4">
        <source src="../videos/burger.webm" type="video/webm">
      </video>
    </div>
    <div class="tline-ctn">
      <div class="tline">
        <h2>Try our new</h2>
        <h3>Golden Quarter Burger</h3>
        <div class="btn-ctn">
          <a class="button indexbtns" href="menu">
            <div class="image is-48x48">
              <img src="../images/icons/kebabicon.svg">
            </div>
          <span>Order Now</span>
          </a>
          <a class="button indexbtns" href="https://www.google.com.au/maps/place/Rambo's+Kebabs/@-37.9166046,145.1372234,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad615331d45185d:0xdaee21aef2504dc9!8m2!3d-37.9166046!4d145.1394121">
            <div class="image is-48x48">
              <img src="../images/icons/map.svg">
            </div>
            <span>Find Us</span>
          </a>
        </div>
      </div>
    </div>
    {{>footer}}

    <div id="popup-overlay">
      <div class="popup">
        <a id="closepopup">X</a>
        <img src="../images/original/burger-banner.png">
      </div>
    </div>

    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
  </body>
  <script type="application/javascript" src="../scripts/animations.js"></script>
</html>
