<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rambo's Kebabs - Too Good To Share</title>
		<meta name="description" content="Rambo's Kebabs is the best Turkish Kebab Shop in Melbourne, located near Monash University, Clayton; Order Now | Get Directions | Call Us.">
		<meta name="author" content="Rambo's Kebabs">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/wiggly.css">
		<link rel="stylesheet" type="text/css" href="../css/starry.css">
		<link rel="stylesheet" type="text/css" href="../css/orderButton.css">
		<link rel="stylesheet" type="text/css" href="../css/popup.css">
		<script type="application/javascript" src="../scripts/navigation.js"></script>
		<script type="application/javascript" src="../scripts/orderButton.js"></script>
	</head>
	<body>
		{{> header}}
	</body>
</html>
