<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rambo's Kebabs - Too Good To Share</title>
		<meta name="description" content="Rambo's Kebabs is the best Turkish Kebab Shop in Melbourne, located near Monash University, Clayton; Order Now | Get Directions | Call Us.">
		<meta name="author" content="Rambo's Kebabs">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="../css/ramboskebabs.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{{> header}}
		<div class="bg">
			<div class="bg-overlay"></div>
			<video loop='true'>
  			<source src="../videos/s-video.mp4" type="video/mp4">
			</video>
		</div>
		<div class="tline-ctn">
			<div class="tline">
				<h2>Too Good To Share</h2>
				<h3>It's Ok to be greedy!</h3>
				<div class="btn-ctn">
					<div class="btn-flex-ctn">
						<a class="button indexbtns" href="menu">
							<div class="image is-48x48">
								<img src="../images/icons/kebabicon.svg">
							</div>
						<span>Order Now</span>
						</a>
						<!--<a class="button indexbtns">Find Us</a>-->
					</div>
				</div>
			</div>
		</div>
		{{>footer}}
		<!--<section>
			<div class="vbg">
				<div class="overlay"></div>
				<video autoplay loop='true'>
  				<source src="../videos/s-video.mp4" type="video/mp4">
				</video>
			</div>
			<div class="vshowcase">
				<video loop='true'>
  				<source src="../videos/s-video.mp4" type="video/mp4">
				</video>
			</div>
			<div class="tline">
				<h2><span>T</span>oo <span>G</span>ood <span>T</span>o <span>S</span>hare</h2>
				<h3>It's Ok to be greedy!</h3>
			</div>
		</section> 
		<section>
			<div class="btn-ctn">
				<div class="btn-flex-ctn">
					<a class="button indexbtns">
						<div class="image is-48x48">
							<img src="../images/icons/kebabicon.svg">
						</div>
						<span>Order Now</span>
					</a>
					<a class="button indexbtns">Find Us</a>
				</div>
			</div>
			<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		</section>-->
	</body>
	<script type="application/javascript" src="../scripts/animations.js"></script>
</html>
