<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rambo's Kebabs - Too Good To Share</title>
		<meta name="description" content="Rambo's Kebabs is the best Turkish Kebab Shop in Melbourne, located near Monash University, Clayton; Order Now | Get Directions | Call Us.">
		<meta name="author" content="Rambo's Kebabs">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/ramboskebabs.css">
	</head>
	<body>
		{{> header}}
		<section>
			<div class="vshowcase">
				<video>
  				<source src="../videos/s-video.mp4" type="video/mp4">
				</video>
			</div>
			<div class="tline">
				<h2>Too Good To Share</h2>
				<h3>It's Ok to be greedy!</h3>
			</div>
		</section> 
		<section>
			<div class="btn-ctn">
				<div class="btn-flex-ctn">
					<button><a class="button indexbtns">Order Now</a></button>
					<button><a class="button indexbtns">Find Us</a></button>
				</div>
			</div>
		</section> 
	</body>
	<script type="application/javascript" src="../scripts/navigation.js"></script>
	<script type="application/javascript" src="../scripts/animations.js"></script>
</html>
