<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Menu | Rambo's Kebabs</title>
		<meta name="description" content="Rambo's Kebabs traditional turkish menu satisfies everyone's needs with a vast range of 100% Certified Halal food including Kebabs, HSPs, sweets and drinks.">
		<meta name="author" content="Rambo's Kebabs">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../css/ramboskebabs.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{{> header}}
		<div class="bg">
			<img class="bg-img" src="../images/black-orange.png" alt="Background Image" />
		</div>
		<img id="limg" src="../images/cmplogo.png" style="z-index: 3; width: 100px; height: 100px;">
		<div class="menu-ctn">
			<ul class="menu-categories">
				<li class="menu-category-ctn">
					<span class="menu-category">Exclusive Items</span>
					<ul class="menu-items">
						<li class="menu-item">Rambo's Special</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Kebabs</span>
					<ul class="menu-items">
						<li class="menu-item">Lamb</li>
						<li class="menu-item">Chicken</li>
						<li class="menu-item">Mix(Lamb, Chicken)</li>
						<li class="menu-item">Falafel(Vegetarian)</li>
						<li class="menu-item">Lamb Meal</li>
						<li class="menu-item">Chicken Meal</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Snackpacks</span>
					<ul class="menu-items">
						<li class="menu-item">Lamb</li>
						<li class="menu-item">Chicken</li>
						<li class="menu-item">Mix(Lamb, Chicken)</li>
						<li class="menu-item">Falafel(Vegetarian)</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Ricepacks</span>
					<ul class="menu-items">
						<li class="menu-item">Lamb</li>
						<li class="menu-item">Chicken</li>
						<li class="menu-item">Mix(Lamb, Chicken)</li>
						<li class="menu-item">Falafel(Vegetarian)</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Meatpacks</span>
					<ul class="menu-items">
						<li class="menu-item">Lamb</li>
						<li class="menu-item">Chicken</li>
						<li class="menu-item">Mix(Lamb, Chicken)</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Appetizers</span>
					<ul class="menu-items">
						<li class="menu-item">Gozleme</li>
						<li class="menu-item">Chips</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Drinks</span>
					<ul class="menu-items">
						<li class="menu-item">Pepsi</li>
						<li class="menu-item">Solo</li>
						<li class="menu-item">Lemonade</li>
						<li class="menu-item">Pepsi Max</li>
						<li class="menu-item">Sunkist</li>
						<li class="menu-item">Water</li>
						<li class="menu-item">Mango Lassi</li>
						<li class="menu-item">Aryan Lassi</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Sweets</span>
					<ul class="menu-items">
						<li class="menu-item">Baklava</li>
						<li class="menu-item">Turkish Delight</li>
					</ul>
				</li>
				<li class="menu-category-ctn">
					<span class="menu-category">Add Ons</span>
					<ul class="menu-items">
						<li class="menu-item">Cheese</li>
						<li class="menu-item">Pickeled Chillies</li>
						<li class="menu-item">Hommus</li>
						<li class="menu-item">Tzatziki</li>
						<li class="menu-item">Chips</li>
						<li class="menu-item">Flakes</li>
						<li class="menu-item">Extra Meat</li>
						<li class="menu-item">Extra Falafel</li>
						<li class="menu-item">Olives</li>
					</ul>
				</li>
			</ul>
		</div>
		{{>footer}}
	</body>
	<script type="application/javascript" src="../scripts/animations.js"></script>
</html>
