<!Doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Menu | Rambo's Kebabs</title>
		<meta name="description" content="Rambo's Kebabs traditional turkish menu satisfies everyone's needs with a vast range of 100% Certified Halal food including Kebabs, HSPs, sweets and drinks.">
		<meta name="author" content="Rambo's Kebabs">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="../css/ramboskebabs.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		{{> header}}
		<div class="bg">
			<img class="bg-img" src="../images/black-orange.png" alt="Background Image" />
		</div>
		<div class="menu-ctn">
			<div class="item-img-ctn">
				<img id="item-img">
			</div>
			<div class="ctn">
				{{> menuCategories}}
			</div>
		</div>
		{{>footer}}
	</body>
	<script type="application/javascript" src="../scripts/animations.js"></script>
	{{> imgpreload}}
</html>
