* {
	box-sizing: border-box;
}

input[type=text], input[type=email], textarea {
	display: block;
	width: 95%;
	padding: 2% 4%;
	border: 2px solid #ff5201;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 105%;
}

input[type=submit] {
	display: block;
	margin: 10% auto 5% auto;
	border-color: #ff5201;
}

textarea {
	overflow: vertical;
}

label {
	display: block;
	margin-top: 6%;
	margin-bottom: 2%;
	margin-left: 2.5%;
	color: #ff5201;
	font-size: 130%;
}

.container {
	display: inline-block;
	width: 85%;
	margin: 0  auto;
	padding: 2%;
	z-index: 3;
}

.container h2 {
	margin-top: 4%;
	margin-left: 2.5%; 
	font-size: 200%;
	font-family: "archeus_militant_1_-_light.otf";
	color: #ff5201;
}
