#homepage-logo-container {
	background-image: url(../images/logo_rambo.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 45%;
	z-index: 3;
}

#btn-container {
	z-index: 3;
}

.platforms {
	position: absolute;
	top: 28%;
	left: 50%;
	height: 25%;
	width: 90%;
	padding: 2%;
	background: #fff;
	border-radius: 5px;
	visibility: hidden;
	transform: scale(.9);
	opacity: 0;
	overflow: hidden;
	transition: all .3s cubic-bezier(.67,.13,.1,.81);
	transform: translateX(-50%);
	z-index: 6;
}
.platforms:target {
	visibility: visible;
	//transform: scale(1);
	opacity: 1;
}
.platforms a {
	display: inline-block;
	position: relative;
	//top: 5%;
	//left: 2.5%;
	width: 30.83%;
	height: 100%;
	//border: 5px dotted #ff5301;
	box-sizing: border-box;
	border-style: dotted;
	border-radius: 5px;
	//color: #3F8EFC;
	text-transform: uppercase;
	transition: top .5s cubic-bezier(.67,.13,.1,.81);
}

.platforms a img {
	position: absolute;
	  top: 50%;
	  left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}

.platforms a:nth-child(1) {
	transition-delay: .1s;
	margin-left: 1.75%;
	margin-right: 1.75%;
}
.platforms a:nth-child(2) {
	//left: 34.583%;
	margin-left: 1.75%;
	margin-right: 1.75%;
}
.platforms a:nth-child(3) {
	//left: 66.6663%;
	transition-delay: .1s;
}
.platforms:target a {
	//top: 5%;
}
*/

/*
.platforms a:hover {
	background: #E5F4FF;
	box-shadow: 0 0 0 1px #A5CFFF;
}
*/

/*
.platforms a:before {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	content: attr(data-plat);
	line-height: 60px;
	text-align: center;
}

.platforms a:after {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	font-size: 300%;
}

.platforms a:nth-child(1):after {
	content: url('../images/Eats_Logo_Wht_Vert.png');
	width: 100%;
}
.platforms a:nth-child(2):after {
	//content: '\f227';
}
.platforms a:nth-child(3):after {
	//content: '\f2c5';
}

*/

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  

}

@media screen
	and (min-device-width: 600px)
       	and (max-device-width: 699px) {
  #homepage-logo-container {
    width: 65%;
    margin: 0 auto;
  }
}

@media screen
  and (min-device-width: 700px)
  and (max-device-width: 1071px){
  #homepage-logo-container {
    margin: 4% auto 4% auto;
    width: 60%;
    height: 50%;
  }
  #btn-container {
    margin: 3% 0px;
  }
}

@media screen 
  and (min-device-width: 1072px) {
  #homepage-logo-container {
    margin: 3% auto 2% auto;
    width: 45%;
    height: 60%;
  }
}
