#offer-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 2%;
	margin-bottom: 4%;
	flex: 1;
	z-index: 3;
}

.offer-parent {
	position: absolute;
	  left: 50%;
	width: 90%;
	height: 25%;
	transform: translateX(-50%);
	box-sizing: border-box;
	z-index: 3;
}

.offer-parent:nth-child(1) {
	top: 0;
	padding-bottom: 0;
	border-top: 3px dotted #ff5201;
	border-bottom: 3px dotted #ff5201;
}

.offer-parent:nth-child(2) {
	top: 25%;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 3px dotted #ff5201;
}

.offer-parent:nth-child(3) {
	top: 50%;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 3px dotted #ff5201;

}

.offer-parent:nth-child(4) {
	top: 75%;
	padding-top: 0;
	border-bottom: 3px dotted #ff5201;

}

.offers {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.offer-overlay {
	display: none;
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	transition: display 0.3;
}

.offer-overlay p {
	position: absolute;
	margin: 5%;
	width: 80%;
	word-wrap: break-word;
	font-size: 5.3vw;
	color: white;
}

#msa-offer {
	background-image: url('../images/msa-logo.jpg');
}

#swin-offer {
	background-image: url('../images/swin-logo.jpg');
}

#facebook-offer {
	background-image: url('../images/facebook-logo.jpg');
}

#instagram-offer {
	background-image: url('../images/instagram-logo.jpg');
}

@media screen
  and (min-width: 400px)
  and (max-width: 499px) {
  .offer-parent {
    width: 80%;
  }
  .offer-overlay p {
    font-size: 4.3vw;
  }
}
@media screen
  and (min-device-width: 500px)
  and (max-device-width: 599px){
  .offer-parent {
    width: 65%;
  }
  .offer-overlay p {
    font-size: 3.8vw;
  }
}

@media screen
  and (min-device-width: 600px)
  and (max-device-width: 834px){
 .offer-parent {
    width: 50%;
  }
  .offer-overlay p {
    font-size: 3vw;
  }
}

@media screen 
  and (min-device-width: 835px) {
  #offer-container {
    position: absolute;
      top: 50%;
      left: 50%;
    width: 90%;
    height: 60%;
    transform: translate(-50%, -50%);
  }
  .offer-parent {
    position: relative;
    left: unset;
    display: inline-block;
    width: 49%;
    height: 45%;
    transform: unset;
    border: unset;
  }
  .offer-parent:nth-child(2) {
    top: unset;
  }
  .offer-parent:nth-child(3) {
    top: unset;
  }
  .offer-parent:nth-child(4) {
    top: unset;
  }
  .offer-overlay p {
    font-size: 3vw;
  }
}

@media screen 
  and (min-device-width: 1070px) {
  #offer-container {
    width: 70%;
  }
  .offer-parent p {
    font-size: 2.7vw;
  }
}

@media screen 
  and (min-device-width: 1070px) {
  #offer-container {
    width: 63%;
  }
  .offer-parent {
    height: 50%;
  }
  .offer-parent p {
    font-size: 2vw;
  }
}
