/*CSS styles for mobile version first*/

/*The order I use is as follows:

 * Layout Properties (position, float, clear, display)
 * Box Model Properties (width, height, margin, padding)
 * Visual Properties (color, background, border, box-shadow)
 * Typography Properties (font-size, font-family, text-align, text-transform)
 * Misc Properties (cursor, overflow, z-index)

 Source: https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685

 */

body {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: auto;
}

header {
  position: relative;
  margin: 0px 5px;
  height: 10%;
}

#site-title {
  position: absolute;
    top: 50%;
    left: 16%;
  display: inline-block;
  margin: 0;
  transform: translateY(-50%);
  font-size: 10.25vw;
	white-space: nowrap;
	overflow: auto;
  color: #ff5201;
  z-index: 3;
}

#estd {
  position: absolute;
    top: 70%;
    left: 50%;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 50%;
  text-align: center;
  font-size: 4.6vw;
  color: #ff5201;
  transform: translateX(-50%);
  z-index: 3;
}

#site-title sup{
  display: inline;
  position: relative;
    left: -3%;
  font-size: 3vw;
  vertical-align: 150%;
}

#nav {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #333;
  color: #ff5201;
}

#nav a:hover {
  background-color: #eee;
}

#nav .icon {
   position: absolute;
    top: 50%;
    left: 0;
  transform: translateY(-50%);
  display: inline-block;
  margin-left: 5px;
  padding: 0px 10px;
  font-size: 10.5vw;
  background-color: unset;
  z-index: 3;
}

.sidenav {
  height: 100%;
  width: 0;
  padding-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 1);
  overflow-x: hidden;
  z-index: 6;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 8px 8px 15%;
  text-decoration: none;
  font-size: 6.75vw;
  color: #ff5201;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: silver;
}

.sidenav .sidenav-closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.copyright {
	position: absolute;
	  bottom: 0;
	  left: 50%;
	width: 100%;
	text-align: center;
	color: #ff5201;
	font-size: 4.5vw;
	transform: translateX(-50%);
	z-index: 3;
}

@media screen
	and (min-device-width: 600px)
	and (max-device-width: 699px){
  #site-title {
    margin-top: 0;
    font-size: 8.25vw;
  }
  #nav .icon {
    font-size: 7.5vw;
  }
  .copyright {
    font-size: 3vw;
  }
}

@media screen
  and (min-device-width: 700px)
  and (max-device-width: 1071px){
  .copyright {
    font-size: 2.5vw;
  }

  #site-title {
    margin-top: 0;
    font-size: 7.25vw;
      left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #nav .icon {
    font-size: 5.5vw;
  }

}

@media screen 
  and (min-device-width: 1022px) { 
   .copyright {
    font-size: 1.8vw;
  }

  header{
    margin-top: 1%;
  }
  #site-title {
    margin-top: 0;
    font-size: 5.8vw;
      left: 51%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .sidenav a {
    font-size: 3vw;
  }

  #estd {
    font-size: 2.6vw;
  }

  #site-title sup{
    font-size: 1.8vw;
      left: -1%;
  }

  #nav .icon {
    font-size: 4.5vw;
  }


}
