<div id="timeline__ctn">
	<div class="timeline__event">
		<a class="event__content timelineEvent-is-selected" data-eventbg="event-hype">
			<div class="event__name">HypebeastsXRambosKebabs</div>
			<div class="event__date">27/10/2018</div>
		</a>
	</div>
	<div class="timeline__event">
		<a class="event__content" data-eventbg="event-pay">
			<div class="event__name">PayingItForward</div>
			<div class="event__date">12/02/2019</div>
		</a>
	</div>
	<div class="timeline__event">
		<a class="event__content" data-eventbg="event-null">
			<div class="event__name">Present</div>
		</a>
	</div>
</div>
