<div id="timeline__ctn">
	<div class="timeline__event">
		<div class="event__name">Hypebeasts x Rambo's Kebabs</div>
		<div class="event__date">27/10/2018</div>
	</div>
	<div class="timeline__event"></div>
</div>
