<footer>
	<small id="copyright">&copy; {{getCurrentYear}} Redsar Pty Ltd. All rights reserved</small>
	<div class="social-links">
		<a href="https://www.facebook.com/Rambokebabs/" class="fa fa-facebook"></a>
		<a href="https://www.instagram.com/ramboskebabs/" class="fa fa-instagram"></a>
		<a href="https://www.youtube.com/channel/UCYxe9PWu4Ht9xyGcINOg70g" class="fa fa-youtube"></a>
	</div>
</footer>
