<header>
			<div id="nav">
				<a href="javascript:void(0);" class="icon" onclick="openSidenav()">&#9776;</a>
			</div>
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0);" class="sidenav-closebtn" onclick="closeSidenav()">&times;</a>
				<a href="../../index.html">Home</a>
				<a href="../../menu.html">Menu</a>
				<a href="../../offer.html">Offers</a>
				<a href="../../events.html">Events</a>
				<a href="../../jobs.html">Jobs</a>
				<a href="../../story.html">Our Story</a>
				<a href="../../contact.html">Contact Us</a>
			</div>
			<h1 id="site-title">Rambo's Kebabs <sup>TM</sup></h1>
			<h2 id="estd">Est. 2014</h2>
</header>

