<header>
	<a href="https://ramboskebabs.com">
		<img class="cmplogo" src="../../images/cmplogo.png" alt="Rambo's Kebabs"/>
	</a>
	<div class="nav-menu">
		<h1>RAMBO'S KEBABS</h1>
		<a id="nav" href="javascript:void(0);">
			<div id="nav-icon">
				<span></span>
				<span></span>
				<span></span>
				<div id="nav-overlay"></div>
			</div>
		</a>
		<div id="mySidenav" class="sidenav">
			<a href="/">Home</a>
			<a href="menu">Menu</a>
			<a href="offers">Offers</a>
			<a href="events">Events</a>
			<a href="careers">Careers</a>
			<a href="about">Our Story</a>
			<a href="contact">Contact Us</a>
		</div>
	</div>
</header>

