<header>
	<a href="https://ramboskebabs.com">
		<img class="cmplogo" src="../../images/cmplogo.png" alt="Rambo's Kebabs"/>
	</a>
	<div class="nav-menu">
		<h1>RAMBO'S KEBABS</h1>
		<a id="nav-icon">
			<span></span>
			<span></span>
			<span></span>
			<div id="nav-overlay"></div>
		</a>
		<div id="mySidenav" class="sidenav">
			<a href="/">Home</a>
			<a href="menu">Menu</a>
			<a href="offers">Offers</a>
			<a href="events">Events</a>
			<a href="careers">Careers</a>
			<a href="about">Our Story</a>
			<a href="contact">Contact Us</a>

			<div class="social-links mobile-social-links">
				<a href="https://www.facebook.com/Rambokebabs/" class="fa fa-facebook"></a>
				<a href="https://www.instagram.com/ramboskebabs/" class="fa fa-instagram"></a>
				<a href="https://www.youtube.com/channel/UCYxe9PWu4Ht9xyGcINOg70g" class="fa fa-youtube"></a>
			</div>

		</div>
	</div>
</header>

