<header>
	<a href="https://ramboskebabs.com">
		<img class="cmplogo" src="../../images/cmplogo.png" alt="Rambo's Kebabs"/>
	</a>
	<div class="nav-menu">
		<h1>RAMBO'S KEBABS</h1>
		<a id="nav" href="javascript:void(0);">
			<div id="nav-icon">
				<span></span>
				<span></span>
				<span></span>
				<div id="nav-overlay"></div>
			</div>
			<div id="mySidenav" class="sidenav">
			<a>Home</a>
			<a>Menu</a>
			<a>Offers</a>
			<a>Events</a>
			<a>Jobs</a>
			<a>Our Story</a>
			<a>Contact Us</a>
		</div>
		</a>
	</div>
</header>

